# PCEP REVISION TEST SAMPLE EXAM FROM AUGUST 2022

This is a copy of a August PCEP Test, please note you will get similar questions but the values may or may not be diffrerent. Its important you practice your understanding of all of the below questions, change the values so you can fully understand. You will see I have added print statments to some of the questions, the print statments will be commented out, when learing python it can be useful to use print statments to follow the value changes particulary with nexted loops.

Q1.
A set of elementry operations that can be performed by a CPU is called?
1. Instruction List IL
2. an assembly code
3. a binary code
4. the ASCII code

Q 1 another form of question one
a word to describe the coupling of words in code sentence
1. syntax
2. semantics
3. lexis

Q 2. Insert the Code in the correct position which asks the user for a float value, and sssigns it to mass variable.
1. :
2. ;
3. )
4. (
5. float
6. input
7. ==
8. =
9. print
10. input
11. mass
12. ("enter mass":)

the code is set as follows:
mass = and then drag an drop boxes.

In [ ]:
#answer Q2
mass = float(input("enter mass:"))
#print(mass)

Q 3. sort in the order of highest priority(below not sorted)
1. **
2. +
3. //

Q 4. Python is an example of which Programming language category?
1. Machine
2. interpreted
3. assembly
4. compiled

Q 5.
Sort the code to write a program that asks the user for a string value and assigns it to the answer variable
1. =
2. "Enter yes/no:"
3. )
4. (
5. str
6. input
7. ==

In [ ]:
#Q 5 answer:

answer = input(str("enter yes/no :"))

Q 6.  which of the below four code cells will evaluate to 0(select two)

In [ ]:
2 / -3 * 6 + 4

In [ ]:
-3 / 2 * 4 + 1

In [ ]:
3 ** 2 // 3 /3 -1

In [ ]:
2 // 2 * 2 + 3

Q 7. Drag and drop the data literals to match their data names:
    
Data Literals:
    1. ''/'
    2. "All the Kings's Men"
    3. 42
    4. False
    5. -6.62607015E-34
    
Data Types:
1. Bool
2. string
3. float
4. int

In [ ]:
-6.62607015E-34

Q. 7 Note:
    Python - float()
The float() function returns a floating point number object from a number or string containing digits with decimal point or scientific notation (E or e).

    >>>float(10)
    10.0
    >>>float('10.45')
    10.45
    >>>float('1e-003')
    0.001
    >>>float('+1E6')
    1000000.0

Q 8. Drag and drop the code below to create a program which outputs *** to the screen
start with the below code snippet:

        depth = 42 - 84 / 2
        if depth > 0:
            print("*")
        elif-----:
            print("**")
        elif-----:
            print("***")  
 code to drag and drop into blank spaces:
 
     depth = 0
     depth < 0
     depth =/= 0
     depth == 0

In [ ]:
#Q 8 Solution:

depth = 42 - 84 / 2
if depth > 0:
    print("*")
elif depth < 0:
    print("**")
elif depth == 0:
    print("***")

In [ ]:
#Q 9
floor = 1
while floor <= 10:
    #print(floor)
    floor += floor
    print("#")
else:
    print("#")
#returns *, **, ***. *****, none

In [ ]:
#Q 10

total = 0
for i in range(4):
    if 2 * i < 4:
        total += 1
        #print("I worked")
        #print(total)
else:
    total += 1
print(total)

#answers to choose from: the code enters a infinite loop
# outputs 3
# outputs 2
# outputs 1

In [ ]:
#Q 11
counter = 84 // 2
if counter < 0:
    print("*")
elif counter >= 42:
    print("**")
else:
    print("***")

In [ ]:
#Q 12 
equals = 0
for i in range(3):
    for j in range (3):
        if i == j:
            equals += 1
        
    else:
        break
print(equals)

In [ ]:
#Q 12 breakdown to understand outer and inner loop
equals = 0
for i in range(3):
    for j in range (3):
        equals += 1#this executes before print above.
    else:
        break
print(equals)

In [ ]:
#Q 12 explanation
equals = 0
for i in range(3):#outer loop returns 2 ints '1' 'inner loop' '2'
    print(equals)
    print("i am outer equals:", equals)
    for j in range (3):#this loop returns 1 2 two times based on outer loop 
        print("i am inner equals:", equals)
        equals += 1#this executes before print above.
        print("i am inner after adding to equals:", equals)
    else:
        break
print("I am the last equals", equals)

note:
    Nested for Loop
If a loop (for loop or while loop) contains another loop in its body block, we say that the two loops are nested. If the outer loop is designed to perform m iterations and the inner loop is designed to perform n repetitions, the body block of the inner loop will get executed m X n times.

    Example: Nested for loop Copy
    for x in range(1,4):
        for y in range(1,3):
            print('x = ', x, ', y = ', y)

In [ ]:
 for x in range(1,5):#this returns one int, 
        #1 to 5 and returns the below iteration 4 times.
        print(x) 
        print("I am after x")
        for y in range(1,7):#this iteration returns 6 ints 4 times the amount of the outrange
            print(y)
            print("im after y")
            #print('x = ', x, ', y = ', y)

In [ ]:
#Q 13 arrange the code so that a statment is executed when speed variable is less than 50
if speed < 50:

In [ ]:
#Q14
speed = 0
#while speed < 30:
    speed *= 2
    if speed > 10:
        continue
    print("*", end="") 
else:
    print("*")
#question how many * print to screen, or is it an infinite loop, or code erronous?
#please note ctrl + c stops an infinite loop.

In [ ]:
#Q. 15 Arrange the code to create a loop which executes its body 
#with the level variable, going through values 5,3,2
level = 0
for level in range(0, 5, -2):
    print(level)

In [ ]:
#solution
for i in range(5, 0, -2):
    print(i)

Q 16. what is true about tuples? select two
1. tuples are immutable which means that their content cant be changed over its life time
2. an empty tuple is writte ()
3. tuples can be invoked and sliced like lists.
4. the len function can not be applied to tuples

In [1]:
tup = (1, 2, 3)
print(len(tup))

3

In [ ]:
#a = tup[:]
#print(a)
#a = tup[0:3]
#print(a)
#tup = tup[0:3]
#print(tup)
#tup = tup[0:1]
#print(tup)
tup = (1, 2, 3)
tup = tup[0:1]
print(tup)
print(len(tup))

In [ ]:
tup = ()
print(type(tup))

In [ ]:
#Q 17
collection = []
collection.append(1)
collection.insert(0, 2)
duplicate = collection[:]
duplicate.append(3)
print(len(duplicate) + len(collection))

In [2]:
#Q 18which of the below will not raise any exceptions select two
my_list =[1, 1, 2, 3]

In [3]:
my_list[6]

IndexError: list index out of range

In [4]:
my_list[-10]

IndexError: list index out of range

In [ ]:
my_list[0:1]

In [ ]:
my_list[my_list[3]]

In [7]:
#Q 19.
rates = (1.2, 1.4, 1.9)
new = rates[3:]
#print(new)
for rate in rates[-2:]:
    #print(rate)
    #print(new)
    new += (rate,)
    print(new)
#print(len(new))

(1.4,)
(1.4, 1.9)

In [10]:
#Q 19 which of the below four evaluates to true?
the_list = ['list', False, 3e8]

In [11]:
300 in the_list and the_list[1]

False

In [12]:
the_list[1] in the_list

True

In [13]:
int(the_list[2]) == len(the_list)

False

In [14]:
the_list.index(False) == 1

True

In [ ]:
#assuming that the phone dir dictionary contains name:number pairs.
#arrange the code boxes to create a valid line of code which adds 
#olivewr twists phone number (5551122333)
phone_dir = {"oliver twist": '5551122333'}

In [15]:
#Q 22 what is the output of the below program
menu = {"pizza": 2.39, "pasta": 1.99, "folpetti": 3.99}
for value in menu:
    print(str(value)[0], end="")

ppf

Q 22 answers select two:
1. 'pizzapastefolpetti'
2. 213
3. The code is erronous
4. ppf

In [16]:
#sample with key as variabe to demo key is not for actual key
menu = {"pizza": 2.39, "pasta": 1.99, "folpetti": 3.99}
for key in menu:
    print(str(key)[0], end="")

ppf

In [ ]:
print(type(key))

#Q 23 what is true about exceptions in python?
1. not more than one except branch can be executed inside one try except block
2. according to Python terminology exceptions are thrown.
3. according to Python terminology exceptions are raised.
4. Pythons philosophy encourages developers to make all possible efforts to protect the program from the occurrence of an exception.

In [17]:
#Q 24. what is the expected result of the below code?
def velocity(x=10):
    return speed + x
speed = 10
new_speed = velocity()
new_speed = velocity(new_speed)
print(new_speed)

#1. 20
#2. 30
#3. 10
#4. the code is erronous

30

In [18]:
#Q 25. what is the expected output of the below code?
def runner(brand, model="", year=2021, convertible=False):
    return (brand, str(year), str(convertible))

print(runner(model = "Furious", brand = "Ampere")[1][1])

#1. 2021
#2. 0
#3. the code raises an unhandled exception
#4. ("Ampere", '2021', 'False')

0

Q 26. which of the below four snippets correctly define a function which returns its only argument doubled?

In [19]:
#1
def multiply_by_2:
    value *= 2
print(multiply_by_2(6))

SyntaxError: invalid syntax (3644957808.py, line 2)

In [20]:
#2
def double(value):
    return 2 * value
print(double(3))

6

In [21]:
#3 
def times_2(x):
    return x + x
print(times_2(4))

8

In [ ]:
#4
def 2_timesarg(in):
    return 2 * in
print(2_timesarg(3))

In [23]:
#Q 27. 
def do_the_mess(parameter):
    global variable
    variable += parameter[0]
    #print(variable)
    return variable

the_list = [x for x in range(2, 3)]
#print(the_list)
#print(variable)
variable = 0
#print(variable)

do_the_mess(the_list)
print(variable)

# the code prints 0
# the code pints 1
# the code pints 2
#the code raises an unhandled exception.

2

In [24]:
#Q 28. What is the expected output of the below code snippet?
def iterate(end, foo = 0):
    if end > 0:
        foo = iterate(end -1, foo + end)
    return foo
print(iterate(2))

#1. outputs 2
#2. outputs 3
#3. outputs 0
#4. outputs 1

3

Q 29 which of the following functions can be invoked with two functions?
select two correct from the below four code cells

In [ ]:
#1
def iota(level, size = 0):
    pass

In [ ]:
#2
def mu(None):
    pass

In [ ]:
def kappa(level):
    pass

In [ ]:
def lambda():
    pass

In [ ]:
#Q 30. drag and drop the code to write a program which prints undefined to the screen.
try:
    result = 1/ (1-1)
except ZeroDivisionError:
    result = "undefined"
print(result)

 #candidate has a choice between else: or ZeroDivisionError for line 2 of code snippet.